@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heading-1 {
        @apply text-[23px] font-pbold leading-[150%]
    }
    .heading-2 {
        @apply text-[20px] font-pbold leading-[150%]
    }
    .title-1 {
        @apply text-[19px] font-pbold leading-[150%]
    }
    .title-2 {
        @apply text-[18px] font-pbold leading-[150%]
    }
    .title-3 {
        @apply text-[17px] font-pmedium leading-[150%]
    }
    .title-4 {
        @apply text-[16px] font-pmedium leading-[150%]
    }
    .title-5 {
        @apply text-[15px] font-pmedium leading-[150%]
    }
    .body-1 {
        @apply text-[16px] font-pregular leading-[150%]
    }
    .body-2 {
        @apply text-[15px] font-pregular leading-[150%]
    }
    .body-3 {
        @apply text-[14px] font-pregular leading-[150%]
    }
    .body-4 {
        @apply text-[13px] font-pmedium leading-[150%]
    }
    .body-5 {
        @apply text-[13px] font-pregular leading-[150%]
    }
    .caption-1 {
        @apply text-[12px] font-pbold leading-[150%]
    }
    .caption-2 {
        @apply text-[12px] font-pregular leading-[150%]
    }
    .caption-3 {
        @apply text-[10px] font-pregular leading-[150%]
    }
}

:root {
    /* Primary Colors */
    --color-primary: #8356F5;
    
    /* Secondary Colors */
    --color-secondary-yellow: #FCEC5B;
    --color-secondary-red: #FF7A7A;
    
    /* Base Colors */
    --color-white: #FFFFFF;
    --color-black: #2B2B2B;
    
    /* Gray Scale */
    --color-gray-5: #F8F8F8;
    --color-gray-10: #F2F2F2;
    --color-gray-20: #E1E1E1;
    --color-gray-25: #DDDDDD;
    --color-gray-30: #CECECE;
    --color-gray-40: #9A9A9A;
    --color-gray-45: #969696;
    --color-gray-50: #868686;
    --color-gray-55: #828282;
    --color-gray-60: #727272;
    --color-gray-65: #666666;
    --color-gray-70: #5D5D5D;
    --color-gray-80: #404040;
    --color-gray-90: #333333;
}